In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("Insurance.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]

In [8]:
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [9]:
dependent=dataset[['charges']]

In [10]:
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=1/3,random_state=0)

In [12]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [13]:
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVR
param_grid={'kernel':['rbf','poly','sigmoid','linear'],
            'C':[10,100,1000,2000,3000],'gamma':['auto','scale']}
grid=GridSearchCV(SVR(),param_grid,refit=True,verbose=3,n_jobs=-1)
grid.fit(x_train,y_train)

C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.

Fitting 3 folds for each of 40 candidates, totalling 120 fits

[Parallel(n_jobs=-1)]: Done   8 tasks      | elapsed:  1.2min
[Parallel(n_jobs=-1)]: Done 120 out of 120 | elapsed:  1.6min finished
C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:814: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)
C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GridSearchCV(cv='warn', error_score='raise-deprecating',
             estimator=SVR(C=1.0, cache_size=200, coef0=0.0, degree=3,
                           epsilon=0.1, gamma='auto_deprecated', kernel='rbf',
                           max_iter=-1, shrinking=True, tol=0.001,
                           verbose=False),
             iid='warn', n_jobs=-1,
             param_grid={'C': [10, 100, 1000, 2000, 3000],
                         'gamma': ['auto', 'scale'],
                         'kernel': ['rbf', 'poly', 'sigmoid', 'linear']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=3)

In [14]:
re=grid.cv_results_
grid_predictions=grid.predict(x_test)

In [15]:
table=pd.DataFrame.from_dict(re)

In [16]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_C,param_gamma,param_kernel,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score
0,0.308691,0.395185,0.073617,0.064774,10,auto,rbf,"{'C': 10, 'gamma': 'auto', 'kernel': 'rbf'}",0.029133,-0.129874,-0.116121,-0.072174,0.071974,35
1,0.020840,0.007358,0.000000,0.000000,10,auto,poly,"{'C': 10, 'gamma': 'auto', 'kernel': 'poly'}",0.076672,-0.075966,-0.064307,-0.021091,0.069408,32
2,0.025942,0.007304,0.079075,0.033407,10,auto,sigmoid,"{'C': 10, 'gamma': 'auto', 'kernel': 'sigmoid'}",0.079325,-0.093756,-0.075898,-0.029987,0.077767,33
3,0.022200,0.006426,0.006073,0.006513,10,auto,linear,"{'C': 10, 'gamma': 'auto', 'kernel': 'linear'}",0.429231,0.216643,0.223417,0.289920,0.098712,27
4,0.207084,0.009858,0.002705,0.003825,10,scale,rbf,"{'C': 10, 'gamma': 'scale', 'kernel': 'rbf'}",0.029317,-0.129978,-0.116230,-0.072183,0.072111,36
5,0.125639,0.046145,0.006588,0.009316,10,scale,poly,"{'C': 10, 'gamma': 'scale', 'kernel': 'poly'}",0.073471,-0.074221,-0.062481,-0.020971,0.067064,31
6,0.171222,0.067853,0.027951,0.017429,10,scale,sigmoid,"{'C': 10, 'gamma': 'scale', 'kernel': 'sigmoid'}",0.078551,-0.093412,-0.075585,-0.030027,0.077248,34
7,0.069477,0.053270,0.036669,0.051858,10,scale,linear,"{'C': 10, 'gamma': 'scale', 'kernel': 'linear'}",0.429231,0.216643,0.223417,0.289920,0.098712,27
8,0.027349,0.013911,0.014400,0.001688,100,auto,rbf,"{'C': 100, 'gamma': 'auto', 'kernel': 'rbf'}",0.321370,0.110819,0.106686,0.179784,0.100299,29
9,0.117374,0.018894,0.034803,0.028197,100,auto,poly,"{'C': 100, 'gamma': 'auto', 'kernel': 'poly'}",0.548034,0.409799,0.393006,0.450389,0.069500,22
10,0.069066,0.033622,0.109336,0.012170,100,auto,sigmoid,"{'C': 100, 'gamma': 'auto', 'kernel': 'sigmoid'}",0.531784,0.389102,0.392744,0.437982,0.066456,24
11,0.178353,0.074176,0.038782,0.039352,100,auto,linear,"{'C': 100, 'gamma': 'auto', 'kernel': 'linear'}",0.635759,0.554602,0.548127,0.579559,0.039894,19
12,0.105071,0.007571,0.099476,0.064764,100,scale,rbf,"{'C': 100, 'gamma': 'scale', 'kernel': 'rbf'}",0.322808,0.110099,0.105823,0.179737,0.101352,30
13,0.089006,0.098985,0.002342,0.003312,100,scale,poly,"{'C': 100, 'gamma': 'scale', 'kernel': 'poly'}",0.535827,0.416890,0.399816,0.450940,0.060528,21
14,0.123870,0.038834,0.073224,0.041197,100,scale,sigmoid,"{'C': 100, 'gamma': 'scale', 'kernel': 'sigmoid'}",0.529281,0.394224,0.394687,0.439498,0.063593,23
15,0.105561,0.054691,0.000000,0.000000,100,scale,linear,"{'C': 100, 'gamma': 'scale', 'kernel': 'linear'}",0.635759,0.554602,0.548127,0.579559,0.039894,19
16,0.089061,0.045242,0.005246,0.007419,1000,auto,rbf,"{'C': 1000, 'gamma': 'auto', 'kernel': 'rbf'}",0.741114,0.633662,0.608126,0.661057,0.057653,13
17,0.231604,0.082118,0.052355,0.063322,1000,auto,poly,"{'C': 1000, 'gamma': 'auto', 'kernel': 'poly'}",0.811859,0.779390,0.752543,0.781298,0.024260,8
18,0.137023,0.092938,0.053587,0.054820,1000,auto,sigmoid,"{'C': 1000, 'gamma': 'auto', 'kernel': 'sigmoid'}",0.376414,0.269267,0.323356,0.323072,0.043755,26
19,0.034207,0.019714,0.041907,0.059266,1000,auto,linear,"{'C': 1000, 'gamma': 'auto', 'kernel': 'linear'}",0.709931,0.621636,0.621345,0.651037,0.041714,17
20,0.120762,0.063665,0.031457,0.034099,1000,scale,rbf,"{'C': 1000, 'gamma': 'scale', 'kernel': 'rbf'}",0.741508,0.633160,0.607563,0.660834,0.058087,14
21,0.093650,0.111217,0.000000,0.000000,1000,scale,poly,"{'C': 1000, 'gamma': 'scale', 'kernel': 'poly'}",0.810406,0.780583,0.753016,0.781368,0.023442,7
22,0.178155,0.128989,0.005215,0.007374,1000,scale,sigmoid,"{'C': 1000, 'gamma': 'scale', 'kernel': 'sigmo...",0.383460,0.279335,0.394185,0.352361,0.051780,25
23,0.215150,0.138036,0.010625,0.007517,1000,scale,linear,"{'C': 1000, 'gamma': 'scale', 'kernel': 'linear'}",0.709931,0.621636,0.621345,0.651037,0.041714,17
24,0.264547,0.302524,0.010691,0.003492,2000,auto,rbf,"{'C': 2000, 'gamma': 'auto', 'kernel': 'rbf'}",0.808850,0.763675,0.723842,0.765505,0.034738,9
25,0.262687,0.064826,0.005248,0.007421,2000,auto,poly,"{'C': 2000, 'gamma': 'auto', 'kernel': 'poly'}",0.822528,0.803686,0.773314,0.799868,0.020277,4
26,0.166107,0.037406,0.075283,0.087522,2000,auto,sigmoid,"{'C': 2000, 'gamma': 'auto', 'kernel': 'sigmoid'}",-0.054850,-0.181768,-0.080764,-0.105737,0.054749,37
27,0.317255,0.168126,0.000000,0.000000,2000,auto,linear,"{'C': 2000, 'gamma': 'auto', 'kernel': 'linear'}",0.709784,0.622011,0.676058,0.669330,0.036157,11
28,0.315475,0.102006,0.010456,0.007394,2000,scale,rbf,"{'C': 2000, 'gamma': 'scale', 'kernel': 'rbf'}",0.809156,0.763186,0.723346,0.765279,0.035073,10
29,0.325644,0.052091,0.086879,0.069011,2000,scale,poly,"{'C': 2000, 'gamma': 'scale', 'kernel': 'poly'}",0.822617,0.803709,0.773491,0.799964,0.020235,3
30,0.260778,0.135421,0.033435,0.032301,2000,scale,sigmoid,"{'C': 2000, 'gamma': 'scale', 'kernel': 'sigmo...",-0.011309,-0.230672,-0.135219,-0.125605,0.089837,38
31,0.439117,0.130806,0.041780,0.048372,2000,scale,linear,"{'C': 2000, 'gamma': 'scale', 'kernel': 'linear'}",0.709784,0.622011,0.676058,0.669330,0.036157,11
32,0.279388,0.222735,0.008304,0.007572,3000,auto,rbf,"{'C': 3000, 'gamma': 'auto', 'kernel': 'rbf'}",0.816813,0.787582,0.761656,0.788715,0.022539,5
33,0.793439,0.268306,0.003703,0.005237,3000,auto,poly,"{'C': 3000, 'gamma': 'auto', 'kernel': 'poly'}",0.822318,0.804323,0.775561,0.800758,0.019259,1
34,0.194588,0.087350,0.089036,0.115108,3000,auto,sigmoid,"{'C': 3000, 'gamma': 'auto', 'kernel': 'sigmoid'}",-0.956222,-1.129913,-0.830662,-0.972247,0.122627,40
35,0.516922,0.334265,0.001837,0.002597,3000,auto,linear,"{'C': 3000, 'gamma': 'auto', 'kernel': 'linear'}",0.709612,0.625295,0.633109,0.656065,0.038060,15
36,0.210509,0.104886,0.008370,0.006635,3000,scale,rbf,"{'C': 3000, 'gamma': 'scale', 'kernel': 'rbf'}",0.817102,0.787271,0.761361,0.788610,0.022782,6
37,0.615478,0.212004,0.010414,0.007364,3000,scale,poly,"{'C': 3000, 'gamma': 'scale', 'kernel': 'poly'}",0.821997,0.804364,0.775659,0.800697,0.019099,2
38,0.232233,0.112518,0.010797,0.007635,3000,scale,sigmoid,"{'C': 3000, 'gamma': 'scale', 'kernel': 'sigmo...",-0.868954,-1.138305,-0.887159,-0.964699,0.122880,39
39,0.408404,0.217840,0.006351,0.006773,3000,scale,linear,"{'C': 3000, 'gamma': 'scale', 'kernel': 'linear'}",0.709612,0.625295,0.633109,0.656065,0.038060,15

In [17]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("Children:"))
sex_male_input=int(input("Sex Male 0 or 1:"))
smoker_yes_input=int(input("Smoker Yes 0 or 1:"))

Age:15
BMI:55
Children:3
Sex Male 0 or 1:1
Smoker Yes 0 or 1:1

In [18]:
Future_prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])
print("Future_prediction={}".format(Future_prediction))

Future_prediction=[-4721289.38785347]

In [19]:
print("✅ Best Score (CV):", grid.best_score_)

✅ Best Score (CV): 0.8007580777560208

In [20]:
y_pred = grid.best_estimator_.predict(x_test)
from sklearn.metrics import r2_score
r_score = r2_score(y_test, y_pred)
print("r² Score:", r_score)

r² Score: 0.8577898390283595

In [21]:
import pickle
filename="finalized_model_svmRegression.sav"

In [28]:
pickle.dump(grid.best_estimator_, open(filename, 'wb'))

In [29]:
preinput=sc.transform([[25,20,2,1,1]])

In [30]:
preinput

array([[-1.03919296, -1.72664148,  0.75672907,  1.01127431,  2.00280702]])

In [31]:
loaded_model=pickle.load(open("finalized_model_svmRegression.sav",'rb'))
result=loaded_model.predict(preinput)
result

array([10250.46920219])